@keyframes move-bg {
	from { background-position: 0% center; }
	to { background-position: 200% center; }
}

@keyframes blink {
	50% { opacity: 0; }
}

@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.markdown {
	p {
		margin: 0;
	}

	ol {
		display: flex;
		flex-direction: column;
		list-style-position: inside;
	}

	ul {
		display: flex;
		flex-direction: column;
	}

	code {
		display: block;
		font-size: 12px;
		color: var(--chat-markdown-color-multi);
		background: var(--chat-markdown-bg);
		border: 1px solid var(--chat-markdown-border);
		border-radius: 3px;
		margin: 4px 0;
		padding: 7px;
	}

	p {
		code {
			display: inline-block;
			font-size: 12px;
			color: var(--chat-markdown-color);
			background: var(--chat-markdown-bg);
			border: 1px solid var(--chat-markdown-border);
			border-radius: 3px;
			margin: 2px 0;
			padding: 2px 3px;
		}
	}

	img, p > img {
		max-width: 200px;
		max-height: 200px;
	}

	.vac-effects-rainbow {
		background: linear-gradient(to right, rgb(252, 104, 110), rgb(255, 255,110), rgb(155, 255, 110), rgb(252, 102, 255), rgb(153, 100, 255), rgb(114, 255, 255), rgb(252, 104, 110));
		background-size: 200% 200%;
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;

		-webkit-animation: move-bg 3s linear infinite;
		animation: move-bg 3s linear infinite;

		animation-direction: reverse;
		margin: 0;
	}

	.vac-effects-blink {
		-webkit-animation: blink 1s linear infinite;
		animation: blink 1s steps(1, end) infinite;

		margin: 0;
	}

	.vac-effects-gold {
		background: linear-gradient(to right, #FEDB37, #FDB931, #9f7928, #8A6E2F, #FEDB37);
		background-size: 200%;
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;

		-webkit-animation: move-bg 3s linear infinite;
		animation: move-bg 3s linear infinite;

		animation-direction: reverse;
		margin: 0;
	}

	.vac-effects-bronze {
		background: linear-gradient(to right, #ffdeca, #ca7345, #a14521, #732100, #ffdeca);
		background-size: 200%;
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;

		-webkit-animation: move-bg 3s linear infinite;
		animation: move-bg 3s linear infinite;

		animation-direction: reverse;
		margin: 0;
	}

	.vac-effects-silver {
		background: linear-gradient(to right, #fff, #555, #555, #555, #fff);
		background-size: 200%;
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;

		-webkit-animation: move-bg 3s linear infinite;
		animation: move-bg 3s linear infinite;

		animation-direction: reverse;
		margin: 0;
	}

	.vac-effects-shake {
		display: inline-flex;
		margin: 0;
	}

	.vac-effects-shake-letter { animation: shake 0.5s linear infinite; }
}

div.vac-message-emoji > div.vac-format-message-wrapper > div.markdown > p > img {
	max-width: 100px !important;
	max-height: 100px !important;
	margin-bottom: -15px !important;
}
